/* Variables */
:root {
    --primary: #1F5673;
    --secondary: #9A031E;
    --tertiary: #330036;
    /* --tertiary: #8E7C93; */
    --quaternary: #CCCCCC;
    --quinary: #F2F2F2;
    --teal: #8E7C93;
    --border: .2rem solid #a24936;
    --border-radius: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

/* Global selectors */
*{
    font-family: 'Playfair Display', sans-serif;
    /* font-variant: small-caps; */
}

/* primary blue to white, top to bottom. */
header{ 
    background-image: linear-gradient(to bottom, var(--quaternary), var(--quaternary), var(--quinary),var(--quinary));
    width:100%;
    padding-top: 1.5rem;
    position:fixed;
    height: 13rem;
    z-index: 2 !important;
}
 
body{
    width: 100%;
    /* min-width: 500px; */
}

.myName {
    font-size: 5rem;
    color: var(--primary);
    font-weight: 500;
    font-variant: small-caps;
}

h2{
    font-size: 4rem;
    font-weight: 600;
    color: var(--secondary);
    font-variant: small-caps;
    /* margin-left: 50px; */
}

h3{
    font-size: 3.3rem;
    font-weight: 600;
    color: var(--tertiary);
    font-variant: small-caps;
}

/* Title display */
.myNameContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Round avatar with a border */
.avatar{
    height: 9rem;
    width: 9rem;
    border: var(--border);
    border-radius: 4.5rem;
    margin: .5rem;
}

/* Navigation display and links */
nav{
    display: flex; 
    justify-content:space-around;
    text-align: center;
    /* display: inline; */
    /* margin-top: 1rem; */
    /* flex-flow: column; */
    /* background-color: var(--quinary) ; */
}

nav.container-fluid{
    /* margin-left: 5rem; */
    /* margin-right: 15rem; */
}

.nav a{
    font-variant: small-caps;
    font-size: 1.75rem;
    color: var(--secondary);
    font-weight: 1000;
    text-decoration: none;
    padding: .25rem 4rem .25rem 4rem;
    /* background-color: var(--secondary); */
}

.active-tab {
 background-color: rgba(255, 255, 255, 0) !important;
 color: var(--primary) !important;
}

.nav-link:hover{
    color: var(--tertiary) !important;
}

main{
    /* height:100%; */
    min-height: 100%;
    /* width: 100%; */
    /* max-height: 100%; */
    /* overflow-y: hidden; */
    /* overflow:hidden; */
    position: relative;
    top: 13rem;
}

html,
.background-body{
    background-color: var(--quinary);
    /* background-image: linear-gradient(to top, var(--quaternary), var(--quaternary), var(--quinary),var(--quinary), var(--quinary)); */
    min-height: 100%;
    height: 100%;
    /* overflow-y: hidden; */
}

.section-heading{
    color: var(--tertiary);
    /* text-decoration: underline; */
    font-weight: 600;
    margin-bottom: 1rem;
    padding-top: 1rem;
    font-size: 2.75rem;
    text-align: center;
}

/* Creations Section - wraps three boxes (panes) containing project cards*/
.creations{
    display: flex; 
    flex-flow:row wrap;
    position: relative;
    justify-content: center;
    align-items:center;
    flex: 2;
}

.projects {
    padding-bottom: 5rem;
}
/* Container with focus project */
.projects-highlight-pane{
    display: flex;
}

/* The two panels on either side of the focus project will be vertically aligned. */
.projects-pane{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* This moves one of the panes to the left of the focus pane so that focus project is centered. Media query will undo this at smaller display size*/
.left-pane{
    order: -1;
}

/* --------------------------------------------------------------------------------- */


.project-image{
    height: 20rem;
    margin: 2rem 0;
    /* width: 40rem; */
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
}

/* --------------------------------------------------------------------------------- */

/* Project cards */

.project{
    /* border: var(--border); */
    /* margin: 1rem; */
    /* height: 20rem; */
    /* width: 20rem; */
    padding: 6rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
}

.project img{
    height: 23rem;
    width: 35rem;
    padding: 2rem 0;
    margin: 2rem 0;
    /* border: var(--border); */
    border-radius: var(--border-radius);

}

/* Enlarges the focus project card */
.focus-project{
    height: 25rem;
    width: 25rem;
}

.focus-project img{
    height: 22rem;
    width: 22rem;
}

/* Overlay with project description */
.project-title{
    border: var(--border);
    text-align: center;
    border-radius: var(--border-radius);
    position: absolute;
    justify-content: center;
    bottom: 30px;
    padding: 5px;
    background-color: var(--secondary);
}

/* Hover creates highlight around project card.*/
 .project:hover img{
    box-shadow: inset 1px 1px 10px var(--secondary), 1px 1px 10px var(--secondary); 
}

/* Changes the color of the 'creations' heading to account for light background. */
.dark{
    color: var(--primary);
}

/* Bio section */
.bio{
    /* margin-top: 100px; */
    text-align: left;
    color: var(--primary);
    align-items: center;
    margin-left: 14rem;
    margin-right: 14rem;
}

/* .bio .section-heading{
    margin-left: 0px;
} */

.bio p{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: justify;
    padding-top: .25rem
}

.resume{
    /* margin-top: 100px; */
    text-align: left;
    color: var(--primary);
    align-items: center;
    margin: 0rem 14rem 12rem 14rem;
    margin-right: 14rem;
}

.topic{
    color: var(--tertiary);
}

.resume p{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    /* text-align: justify; */
    text-align: center;
    padding-top: 1.5rem
}

.pdf {
    color: var(--secondary);
}

.footer{
    background-color: var(--quinary);
    width: 100%;
    position: fixed;
    bottom: 0rem;
    left: 50%;
    transform: translate(-50%);
    display: block;

    /* align-items: center; */
}

/* Contact Section */
.contact-info{
    font-variant: small-caps;
    color:var(--primary);
    /* text-transform: lowercase; */
    display: flex;
    /* margin-top: 6rem; */
    font-weight: 800;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 4rem;
    z-index: 2;
}

.contact-info p{
    /* display: inline; */
    /* align-content: center; */
    font-size: 1.5rem;
    white-space: nowrap;
    /* margin-bottom: .5rem; */
}

.contact-link a:hover{
    color: var(--tertiary) !important;
}

.contact-link-img:hover{
    /* box-shadow: 1px 1px 10px var(--primary) !important; */
    height: 2.65rem;
}

.contact-link a{
    text-decoration:none;
    font-weight: 700;
    color: var(--secondary);
}

.contact-link-img{
    height: 2.5rem;
}

.contactForm {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.form input {
    margin: .5rem;
    width: 25rem;
    border-radius: .2rem;
}

.messageBox {
    height: 15rem;
    margin: .5rem;
    width: 25rem;
    border-radius: .2rem;
}

.form button {
    background-color: var(--tertiary);
    color: var(--quinary);
    margin: .5rem;
    width: 25rem;
    border-radius: .2rem;
}

/* Adaptive media */

        /* Tablets and smaller - Title name stacks vertically and section headings and contact info align centrally. primary section of header expands to provide background for light Title*/

@media screen and (max-width: 1244px) {
    /* Aligns project cards vertically with Focus project on top*/
    
    .creations{
        flex-direction: column;
    }
    
    .left-pane{
    order: 0;
    }

    /* Stacks name and avatar*/
    .myNameContainer {
    flex-wrap: wrap;
    }
    
    /* Increases margin above first name */
    .myName{
    /* margin-top:0; */
    }

    /* Centrally aligns section headings and contents*/
    .section-heading{
        text-align: center;
        /* margin-left: 0px; */
    }

    .bio{
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .bio p{
        margin-left: 3rem;
        margin-right: 3rem;
    }

    /* Centrally aligns contact information */
    .contact-info{
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }

}
/* Shrink fonts for better viewing on smaller displays */
@media screen and (max-width: 600px) {
    
    .bio{
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .bio p{
        font-size: 1rem;
    }

    /* Shrinks Project cards*/
    .project{
        margin: 40 px;
        height: 150px;
        width: 150px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .project img{
        height: 125px;
        padding: 12.5px;
        border: var(--border);
        border-radius: var(--border-radius);
    
    }
    .focus-project{
        height: 200px;
        width: 200px;
    }
    
    .focus-project img{
        height: 175px;
        width: 175px;
    }

    .contact-info li{
        font-size: 1.2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.topnav {
    overflow: hidden;
    background-color: var(--quaternary);
    position: relative;
}
  
.topnav #myLinks {
    display: none;
}

.topnav p {
    color: var(--primary);
    /* padding: .5rem; */
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
}

.topnav a.icon {
    background: var(--secondary);
    color: var(--teal);
    display: block;
    /* font-size: 1.5rem; */
    padding: 1rem 1rem;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: var(--teal);
    color: var(--secondary);
}

.active {
    /* background-color: #04AA6D; */
    /* color: white; */
}